
body{
text-align:center;
}
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #91db80;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 31%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a:active {
    background-color:#53BD3A;
}



li {
    list-style-position: inside;
}


.box {
    position: relative;
    width: 90%;
    margin: 2rem;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-width:15px;
    border-radius: 100px;
    border-color: #91DB80;
    border-style: double;
    background-color: #414141;
}



#bannering {
    width: 90%;
    height: auto;
}